/* Grid */

.wrapper {
    min-height: 100vh;
    padding: 25px 0;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: $container;
    padding: 0 $gutter * 2;
    margin: 0 auto;
}


@media (max-width: $phone-small){
    .container{
        padding: 0 35px;
    }
}
