/******* GÉNÉRAL *******/

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

html {
    min-height: 100%;
    font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body {
    min-height: 100%;
    font: 1.5em / 1.7 $ibm;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(179.94deg, rgba(0, 0, 0, 0.72) 0.1%, rgba(0, 0, 0, 0) 52%), radial-gradient(952.78px at 13.6% 31.4%, #254d94 0%, #14233e 100%) no-repeat;
    color: #fff;
    > div,
    > div > div {
        min-height: 100%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2.2em 0 0.5em;
    font-family: $league;
    line-height: 2;
}

h1 {
    margin: 3.75em 0 1.35em;
    font-size: 4rem;
    line-height: 1.25;
}

h2 {
    margin: 2.5em 0 0.85em;
    font-size: 3rem;
}

h3 {
    margin: 2.5em 0 0.5em;
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

p {
    margin: 0 0 2.7em;
}

b,
strong {
    font-weight: 600;
}

i,
em,
a {
    font-style: italic;
}

blockquote {
    margin: 1em 40px;
}

ol,
ul {
    padding: 0;
    margin: 1em 0;
    list-style: none;
    ol,
    ul {
        padding: 0 0 0 $gutter;
        margin: 1em 0;
    }
    li {
        padding: 0 0 0 $gutter;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
        }
    }
}
ul {
    > li {
        &:before {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            top: 10px;
            background: $primary;
        }
    }
}
ol {
    counter-reset: ol-counter;
    > li {
        counter-increment: ol-counter;
        &:before {
            content: counter(ol-counter) '.';
            top: 3px;
            font-size: 1.2rem;
            color: $primary;
        }
    }
}

dt,
dd {
    display: inline;
    margin: 0;
}
dt {
    &:after {
        content: ': ';
    }
}
dd {
    + dt {
        &:before {
            content: '\A';
            white-space: pre;
        }
    }
    + dd {
        &:before {
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr {
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: #fff;
}

/******* LIENS / BOUTONS *******/

a,
button {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
}

a {
    color: $primary;
    transition: $transition;
    &:focus,
    &:hover {
        color: #fff;
    }
    &:focus {
        outline: 0;
    }
    // &:active {
    // }
}

/******* CLASSES GENERALES  *******/

#stars {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hidden {
    display: none !important;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.pos-relative {
    position: relative;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width {
    width: 100%;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit {
    &.compat-object-fit {
        background-size: cover;
        background-position: 50% 50%;
        img {
            // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.no-transition {
    transition: none !important;
}
