// Variables //

// Colors
$primary: #ff438a;

// Transitions
$transition: 0.2s ease-in-out;

// Fonts
$ibm: 'IBM Plex Sans', sans-serif;
$league: 'league', $ibm;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$container: 1160px;
$desktop: 960px;
$tablet: 780px;
$phone: 580px;
$phone-small: 400px;

// Grid
$col: 100/7 * 1%;

$gutter: 23px;
